asgiref==3.9.1
dj-database-url==3.0.1
Django==5.0.7
django-cors-headers==4.4.0
django-environ==0.11.2
django-jazzmin @ git+https://github.com/farridav/django-jazzmin.git@d269874c96fe5ff6d231c3017cdd4650bc2f3105
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
environ==1.0
psycopg2-binary==2.9.10
PyJWT==2.10.1
sqlparse==0.5.3
whitenoise==6.9.0
gunicorn==23.0.0